footer(class="footerInfo")
    ul(class="nav navbar-nav")
        li
            a(href="http://www.wikipedia.com")
                img(class="icon" src="/icons/wikipedia-icon.png")
        li
            a(href="http://www.linkedin.com")
                img(class="icon" src="/icons/linkedin-icon.png")
        li
            a(href="http://www.facebook.com")
                img(class="icon" src="/icons/facebook-icon.png")
    p Email: RahulBilimoria1@gmail.com
    p Rahul Bilimoria Copyright © 2017