mixin sidebar(link1, link2, link3)
    div(class="col-sm-2")
        div(class="fixed")
            h3 Navigation
            ul(class="sidenavbar")
                li
                    a(href="#article1" class="btn btn-primary" role="button") #{link1}
                li
                    a(href="#article2" class="btn btn-primary" role="button") #{link2}
                li
                    a(href="#article3" class="btn btn-primary" role="button") #{link3}